[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "*"
constructs = "*"
"aws-cdk.aws-apigatewayv2-alpha" = "*"
"aws-cdk.aws-apigatewayv2-integrations-alpha" = "*"

[dev-packages]
pytest = "*"
boto3 = "*"
emoji = "*"
requests = "*"

[requires]
python_version = "3.10"
